.container {
    width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container h2 {
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 600;
}
.container p:nth-child(2){
    text-align: center;
    margin:20px 0px ;
}

.container p:nth-child(3){
    font-weight: 700;
    margin: 15px 0px;
}


.form-group {
    margin-bottom: 20px;
    display: flex;
}
.form-groupMdp{
    margin-bottom: 20px;
}

.form-groupMdp input{
    width: 95%;
    padding: 5px 5px 5px 25px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.form-groupMdp label{
    font-weight: 600;
}
.form-group .half {
    flex: 1;
    margin-right: 10px;
    position: relative;
}
.form-groupMdp .half {
    flex: 1;
    margin-right: 10px;
    position: relative;
}
.half img{
   position: absolute;
   bottom: 7px;
   left: 5px;
}

.half:last-child {
    margin-right: 0;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
}

.form-group input {
    width: 100%;
    padding: 5px 5px 5px 25px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.password-section{
    display: flex;
}

/* button {
    width: 100%;
    padding: 10px;
    background-color: #5AD058;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
} */

/* button:hover {
    background-color: #439c41;
} */

.icon-container {
    text-align: center;
    margin-top: 20px;
}

.icon-container img {
    width: 50px;
    height: 50px;
}
.form-groupMdp{
position: relative;
}
.form-groupMdp img{
    position: absolute;

    bottom: 8px;
    left: 5px;
}

